<%-include("partials/head")%>
<%-include("partials/navbar")%>
<body>
    <h1>Home page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum aspernatur porro dolorem eius, asperiores
        beatae similique dolores. Voluptates, amet animi! Nostrum, nam? Provident fuga odio, commodi animi iusto eveniet
        officiis.</p>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In cupiditate repellendus molestiae, architecto
        necessitatibus dignissimos maiores sint, accusamus consequatur, voluptates aspernatur? Architecto quisquam velit
        perferendis dolor laudantium? Nobis, accusamus ducimus!
        Eaque, consequuntur nam! Aliquid earum dolorem nisi ipsum, itaque asperiores fugiat sint minus est facilis et
        aut perferendis animi voluptate voluptates corrupti quaerat atque incidunt sunt harum sequi? Saepe, praesentium.
        Fugit totam, vero quas nobis id a. Libero earum nulla voluptas, rerum eaque voluptates debitis architecto
        perferendis repellendus perspiciatis iste quisquam unde quas saepe id quod exercitationem magnam. Eveniet,
        officiis!</p>
</body>

</html>