img {
    width: 30%;
    margin: calc(10%/6);
}

nav {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 0.5em 0;
    transition: all 0.25s;
}

.gradient-text:hover {
    /* background-image: linear-gradient(90deg, #7400b8, #80ffdb); */
    background-image: linear-gradient(90deg, #231942, #e0b1cb);
    width:10%;
    background-clip: text;
    color: transparent;
    cursor: pointer;
  }